/* map(카카오맵 지도) 객체 */
#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}
/* body */
.map_page_body {
  height: 100%;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
}
/* 검색창 */
#selectMain {
  /* 검색창&지도 검색 바 */
  width: 25%;

  margin: 1%;
  padding: 1%;

  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 3px;
  outline: none;

  position: relative;

  z-index: 1;
}
/* 검색버튼 */
#searchMain {
  /* 메인페이지& 검색 창& 지도 검색 버튼 */
  background-color: aquamarine;

  width: 10%;

  margin: 1%;
  padding: 1%;

  border: none;

  position: absolute;

  z-index: 1;
}

#searchBar {
  width: 70%;
  position: absolute;
  /* z-index: 1; */
}
/* 커스텀 오버레이 */
.infowindow {
  width: 100%;
  height: 100%;
  background-color: gray;
  font-size: large;
  padding: 30%;
  margin: 20%;
  position: relative;
}
