/* 모바일 사이즈로 바꼇을때 */
.logo_img {
  width: 100vw;
  top: 10px;
  bottom: 0px;
  height: auto;
  margin: 0 auto;
  max-width: 100vw;

  position: relative;
}
/* 모바일일때 검색창 위치 */
.search {
  width: 90vw;
  max-width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.searchTerm {
  font-size: 1rem;
  font-weight: bold;
  border: 2px, solid #282c37;
  border-right: none;
  padding: 5px;
  height: 22px;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #282c37;
}

.searchButton {
  width: 50px;
  height: 35.5px;
  border: 1px solid #282c37;
  background: #282c37;
  text-align: center;
  color: #fff;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  margin: 0 auto;
  padding: 10px;
  height: auto;
  position: relative;
  transform: translate(-50%, -50%);
}

.container {
  height: auto;
  margin: 0 auto;
  top: 15vw;
  width: 50vw;
  max-width: 100vw;
  background-color: #282c37;
  height: 50vw;
  max-height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5vh;
  color: white;
  font-family: roboto;
  font-weight: bold;
  position: relative;
}

/* 주변 오오라 색깔 */
.container::before,
.container::after {
  position: absolute;
  content: "";
  top: -5%;
  left: -5%;
  height: 110%;
  width: 110%;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(60px);
}

.container::after {
  background-color: #da219c;
  z-index: -1;
  animation: backglow2 15s ease infinite;
}

.container::before {
  background-color: #c4db9f;
  z-index: -2;
  animation: backglow1 15s ease infinite;
}

@keyframes backglow1 {
  0% {
    transform: translate(10%, 10%) scale(1);
    opacity: 0.5;
  }

  25% {
    transform: translate(-10%, 10%) scale(0.8);
    opacity: 0.5;
  }

  50% {
    transform: translate(-10%, -10%) scale(1.2);
    opacity: 0.8;
  }

  75% {
    transform: translate(10%, -10%) scale(1.1);
    opacity: 0.2;
  }

  100% {
    transform: translate(10%, 10%) scale(1);
    opacity: 0.5;
  }
}

@keyframes backglow2 {
  0% {
    transform: translate(-10%, -10%) scale(1);
    opacity: 0.5;
  }

  25% {
    transform: translate(10%, -10%) scale(0.8);
    opacity: 0.5;
  }

  50% {
    transform: translate(10%, 10%) scale(1.2);
    opacity: 0.8;
  }

  75% {
    transform: translate(-10%, 10%) scale(1.1);
    opacity: 0.2;
  }

  100% {
    transform: translate(-10%, -10%) scale(1);
    opacity: 0.5;
  }
}
