/* 모바일 사이즈로 바꼇을때 */

.search {
  width: 100vh;
  max-width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.searchTerm {
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #2b90d9;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #282c37;
}

.searchButton {
  width: 50px;
  height: 46px;
  border: 1px solid #2b90d9;
  background: #2b90d9;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  height: auto;
  position: relative;
  transform: translate(-50%, -50%);
}
