@font-face {
  font-family: "title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "title1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "content";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}
/* body */
.map_page_body {
  height: 100%;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
}

#search_Box {
  /* 검색창&지도 검색 바 */
  width: 45vw;
  max-width: 100vw;
  font-size: 0.7rem;
  font-weight: bold;
  border: 3px solid #282c37;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  color: #000000;
  opacity: 0.8;
  z-index: 1;
}
/* 검색버튼 */
#search_Btn {
  /* 메인페이지& 검색 창& 지도 검색 버튼 */
  padding: 0;
  width: 10vw;
  min-width: 7vw;
  height: 36px;
  border: 3px solid #282c37;
  background: #282c37;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.125rem;
  opacity: 0.8;
  z-index: 1;
}

#searchBar {
  top: 2vw;
  left: 2vw;
  position: absolute;
  display: flex;
  /* z-index: 1; */
}

#search_Box:hover {
  opacity: 1;
}

#search_Box:hover ~ #search_Btn {
  opacity: 1;
}

/* 모바일 커스텀 오버레이 */
#content_box {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  top: 75vh;
  left: 2vw;
  width: 95vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  z-index: 0;
  overflow: visible;
}

#content_box #test_box {
  padding-left: 10px;
  display: inline-flex;
  font-family: content;
}

#content_box #content_box_title {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  margin-top: 2px;
  padding-left: 10px;
  color: #000000;
}

#content_box #content_box_addr {
  padding-top: 5px;
  border-top: 1px solid #ccc;
  font-size: 0.9rem;
  padding-left: 10px;
}

#content_box #content_box_phone {
  font-family: content;
  padding-top: 5px;
  color: #4780ca;
  font-size: 0.85rem;
  padding-left: 11px;
}

#content_box #content_box_useSeatCnt {
  padding-top: 10px;
  color: red;
  font-family: content;
  font-weight: bold;
}

#content_box #content_box_totalSeatCnt {
  padding-top: 10px;
  color: #0582f7;
  margin-bottom: 5px;
  font-family: content;
  font-weight: bold;
}

#content_box #content_box_devide {
  padding-top: 10px;
  color: black;
  margin-bottom: 5px;
  font-family: content;
  font-weight: bold;
}

#content_box_title_info {
  display: inline-flex;
}

#content_box_btn {
  padding: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.8rem;
  margin-left: 78vw;
}
/* #content_box #content_box_floorNumber {
  font-family: content;
  font-weight: 700;
  margin-top: 20px;
  padding-left: 5px;
} */

/* 모바일 오버레이 상세정보 버튼 */
/* #content_box_btn {
  font-size: 0.7rem;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-family: content;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: rgb(238, 238, 238);
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #353232 !important;
  border: none;
  z-index: 10;
} */

/* #content_box_btn:hover {
  font-weight: bold;
  color: #ffffff !important;
}
#content_box_btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #0582f7;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

#content_box_btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #ddddff;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
#content_box_btn:hover::before,
#content_box_btn:hover::before {
  opacity: 1;
  left: -15px;
  width: 135%;
}
#content_box_btn:hover::after,
#content_box_btn:hover::after {
  opacity: 1;
  left: -15px;
  width: 135%;
} */
