select {
  border: 3px solid#282c37;
  outline: none;
  width: 20vw;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-size: 10px;
  font-weight: bold;
  background: transparent;
  color: black;
  opacity: 0;
  transition: 0.5s;
}
.search {
  position: absolute;
  display: flex;
}

.searchTerm {
  width: 60vw;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid #282c37;
  height: 15px;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  color: #000000;
}

.searchTerm:focus {
  color: #282c37;
}

.search:hover > select {
  opacity: 1;
}

.search:focus > select {
  opacity: 1;
}

.searchButton {
  width: 8vw;
  padding: 0;
  height: 29px;
  border: 2px solid #282c37;
  background: #282c37;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 15px;
}

/* 검색창 위치 수정할때 여기서 */
/*Resize the wrap to see the search bar change!*/
.wrap {
  top: 6vw;
  left: 27vw;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
}
